.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
    max-width: 100%;
  }
  
  .new-group {
    margin-bottom: 15px;
  }
  
  .new-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .new-group input[type="text"],
  .new-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-visibility-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  .login-button button:hover {
    background-color: #565757;
  }
  .forgot-password {
    text-align: center;
    margin-top: 15px;
  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  